<table class="ECcenter">
    <tr>
        <th>{{localize "PF2e-EC.Expected Coinage"}}</th>
        <th>{{localize "PF2e-EC.Current Coinage"}}</th>
        <th>{{localize "PF2e-EC.Expected Wealth"}}</th>
        <th>{{localize "PF2e-EC.Current Wealth"}}</th>
    </tr>
    <tr>
        <td id="ECexpectedcoinage"></td>
        <td id="ECcurrentcoinage"></td>
        <td id="ECexpectedwealth"></td>
        <td id="ECcurrentwealth"></td>
    </tr>
</table>
<table class="ECcenter">
    <tr>
        <th>{{localize "PF2e-EC.Level"}}</th>
        <th>{{localize "PF2e-EC.Expected Item #"}}</th>
        <th>{{localize "PF2e-EC.Current Item #"}}</th>
        <th>{{localize "PF2e-EC.Item Names"}}</th>
    </tr>
    <tr id="EC1">
        <td>1</td>
        <td id="EC1sug"></td>
        <td id="EC1num"></td>
        <td id="EC1nam"></td>
    </tr>
    <tr id="EC2">
        <td>2</td>
        <td id="EC2sug"></td>
        <td id="EC2num"></td>
        <td id="EC2nam"></td>
    </tr>
    <tr id="EC3">
        <td>3</td>
        <td id="EC3sug"></td>
        <td id="EC3num"></td>
        <td id="EC3nam"></td>
    </tr>
    <tr id="EC4">
        <td>4</td>
        <td id="EC4sug"></td>
        <td id="EC4num"></td>
        <td id="EC4nam"></td>
    </tr>
    <tr id="EC5">
        <td>5</td>
        <td id="EC5sug"></td>
        <td id="EC5num"></td>
        <td id="EC5nam"></td>
    </tr>
    <tr id="EC6">
        <td>6</td>
        <td id="EC6sug"></td>
        <td id="EC6num"></td>
        <td id="EC6nam"></td>
    </tr>
    <tr id="EC7">
        <td>7</td>
        <td id="EC7sug"></td>
        <td id="EC7num"></td>
        <td id="EC7nam"></td>
    </tr>
    <tr id="EC8">
        <td>8</td>
        <td id="EC8sug"></td>
        <td id="EC8num"></td>
        <td id="EC8nam"></td>
    </tr>
    <tr id="EC9">
        <td>9</td>
        <td id="EC8sug"></td>
        <td id="EC8num"></td>
        <td id="EC8nam"></td>
    </tr>
    <tr id="EC10">
        <td>10</td>
        <td id="EC10sug"></td>
        <td id="EC10num"></td>
        <td id="EC10nam"></td>
    </tr>
    <tr id="EC11">
        <td>11</td>
        <td id="EC11sug"></td>
        <td id="EC11num"></td>
        <td id="EC11nam"></td>
    </tr>
    <tr id="EC12">
        <td>12</td>
        <td id="EC12sug"></td>
        <td id="EC12num"></td>
        <td id="EC12nam"></td>
    </tr>
    <tr id="EC13">
        <td>13</td>
        <td id="EC13sug"></td>
        <td id="EC13num"></td>
        <td id="EC13nam"></td>
    </tr>
    <tr id="EC14">
        <td>14</td>
        <td id="EC14sug"></td>
        <td id="EC14num"></td>
        <td id="EC14nam"></td>
    </tr>
    <tr id="EC15">
        <td>15</td>
        <td id="EC15sug"></td>
        <td id="EC15num"></td>
        <td id="EC15nam"></td>
    </tr>
    <tr id="EC16">
        <td>16</td>
        <td id="EC16sug"></td>
        <td id="EC16num"></td>
        <td id="EC16nam"></td>
    </tr>
    <tr id="EC17">
        <td>17</td>
        <td id="EC17sug"></td>
        <td id="EC17num"></td>
        <td id="EC17nam"></td>
    </tr>
    <tr id="EC18">
        <td>18</td>
        <td id="EC18sug"></td>
        <td id="EC18num"></td>
        <td id="EC18nam"></td>
    </tr>
    <tr id="EC19">
        <td>19</td>
        <td id="EC19sug"></td>
        <td id="EC19num"></td>
        <td id="EC19nam"></td>
    </tr>
    <tr id="EC20">
        <td>20</td>
        <td id="EC20sug"></td>
        <td id="EC20num"></td>
        <td id="EC20nam"></td>
    </tr>
</table>

<style>
    .ECcenter {
        text-align: center;
    }
</style>

<script type="module">
    const $sheet = globalThis.EC.HTML;
    const Actor = globalThis.EC.Actor;
    const Level = Actor.data.details.level.value;

    const ActorName = Actor.name.replace(/ /g, "");

    $("#ECexpectedcoinage").prop("id", "ECexpectedcoinage" + ActorName);
    $("#ECcurrentcoinage").prop("id", "ECcurrentcoinage" + ActorName);
    $("#ECexpectedwealth").prop("id", "ECexpectedwealth" + ActorName);
    $("#ECcurrentwealth").prop("id", "ECcurrentwealth" + ActorName);

    for (let i of ["sug", "num", "nam", ""]) {
        for (let j = 1; j <= 20; j++) {
            $("#EC" + j + i).prop("id", "EC" + j + i + ActorName);
        }
    }

    // shorthands
    function set(category, level, value) {
        if (["sug", "num", "nam"].includes(category) && level >= 1 && level <= 20) {
            $("#EC" + level + category + ActorName).text(value.toString());
        }
    }
    function get(category, level) {
        if (["sug", "num", "nam"].includes(category) && level >= 1 && level <= 20) {
            return $("#EC" + level.toString() + category + ActorName).text();
        }
    }
    function add(category, level, value) {
        if (["sug", "num", "nam"].includes(category) && level >= 1 && level <= 20) {
            if (!get(category, level)) {
                set(category, level, value);
            } else {
                if (category == "num") {
                    set("num", level, parseInt(get("num", level)) + parseInt(value));
                } else {
                    set(category, level, get(category, level) + ", " + value);
                }
            }
        }
    }
    function deSlug(text) {
        if (!text) {
            return null;
        }

        let words = text.split("-");

        for (let i = 0; i < words.length; i++) {
            let word = words[i];
            words[i] = word.charAt(0).toUpperCase() + word.slice(1);
        }

        return words.join(" ");
    }
    function deCamel(text) {
        const spaced = text.replace(/([A-Z])/g, " $1");
        return spaced.charAt(0).toUpperCase() + spaced.slice(1);
    }

    // coinage & wealth
    $("#ECexpectedcoinage" + ActorName).text(
        [, 12, 20, 25, 30, 50, 80, 125, 180, 250, 350, 500, 700, 1000, 1500, 2250, 3250, 5000, 7500, 12000, 20000][
            Level
        ] + " gp"
    );
    $("#ECexpectedwealth" + ActorName).text(
        [
            ,
            15,
            30,
            75,
            140,
            270,
            450,
            720,
            1100,
            1600,
            2300,
            3200,
            4500,
            6400,
            9300,
            13500,
            20000,
            30000,
            45000,
            69000,
            112000,
        ][Level] + " gp"
    );
    $("#ECcurrentcoinage" + ActorName).text(
        $sheet.find(".wealth-label").children().eq(0).children("span").eq(0).text()
    );
    $("#ECcurrentwealth" + ActorName).text($sheet.find(".wealth-label").children().eq(1).children("span").eq(0).text());

    // show suggested permanent item number
    Level > 1 && set("sug", Level - 1, 1);
    Level > 2 && set("sug", Level - 2, 2);
    Level > 3 && set("sug", Level - 3, 1);
    Level > 4 && set("sug", Level - 4, 2);

    // show the current equipment names and levels
    for (let [key, item] of Actor.items.entries()) {
        if (["WeaponPF2e", "ArmorPF2e", "EquipmentPF2e", "ContainerPF2e"].includes(item.constructor.name)) {
            let Level = item.data.data.level.value;
            let Quantity = item.data.data.quantity.value;
            let Name = item.data.name;

            // weapon runes
            if ("WeaponPF2e" == item.constructor.name && item.data.data.baseItem != "staff") {
                if (item.data.data.baseItem) {
                    switch (item.data.data.baseItem) {
                        case "stiletto-pen":
                        case "axe-musket": //check
                        case "boarding-pike":
                        case "combat-grapnel":
                        case "gnome-amalgam-musket": //check
                        case "gun-sword": //check
                        case "hammer-gun":
                        case "polytool":
                        case "three-peaked-tree":
                        case "aldori-dueling-sword":
                        case "explosive-dogslicer":
                        case "switchscythe":
                        case "backpack-ballista":
                        case "big-boom-gun":
                        case "double-barreled-musket":
                        case "jezail":
                        case "repeating-heavy-crossbow":
                        case "shobhad-longrifle":
                        case "slide-pistol":
                        case "spoon-gun":
                        case "backpack-catapult":
                        case "dwarven-scattergun":
                        case "repeating-crossbow":
                        case "repeating-hand-crossbow":
                            Level = 1;
                            break;
                        case "exquisite-sword-cane":
                            Level = 4;
                            break;
                        case "clockwork-macuahuitl":
                            Level = 8;
                            break;
                        default:
                            Level = 0;
                    }
                    Name = deSlug(item.data.data.baseItem);
                }

                if (game.settings.get("pf2e", "automaticBonusVariant") == "noABP") {
                    switch (item.data.data.potencyRune.value) {
                        case 1:
                            add("nam", 2, "Weapon Potency (+1)");
                            add("num", 2, 1);
                            break;
                        case 2:
                            add("nam", 10, "Weapon Potency (+2)");
                            add("num", 10, 1);
                            break;
                        case 3:
                            add("nam", 16, "Weapon Potency (+3)");
                            add("num", 16, 1);
                            break;
                    }
                    switch (item.data.data.strikingRune.value) {
                        case "striking":
                            add("nam", 4, "Striking");
                            add("num", 4, 1);
                            break;
                        case "greaterStriking":
                            add("nam", 12, "Striking (Greater)");
                            add("num", 12, 1);
                            break;
                        case "majorStriking":
                            add("nam", 19, "Striking (Major)");
                            add("num", 19, 1);
                            break;
                    }
                }

                for (let i = 1; i <= 4; i++) {
                    if (item.data.data["propertyRune" + i].value) {
                        //convert from camelCase to Title Case
                        const name = deCamel(item.data.data["propertyRune" + i].value);

                        let level;
                        switch (item.data.data["propertyRune" + i].value) {
                            case "fanged":
                                level = 2;
                                break;
                            case "crushing":
                            case "kinWarding":
                            case "returning":
                                level = 3;
                                break;
                            case "ghostTouch":
                            case "bane":
                                level = 4;
                                break;
                            case "cunning":
                            case "disruptive":
                            case "pacifying":
                            case "fearsome":
                                level = 5;
                                break;
                            case "demolishing":
                            case "hauling":
                            case "shifting":
                            case "energizing":
                                level = 6;
                                break;
                            case "conducting":
                            case "wounding":
                                level = 7;
                                break;
                            case "greaterFanged":
                            case "bloodbane":
                            case "corrosive":
                            case "flaming":
                            case "frost":
                            case "shock":
                            case "thundering":
                                level = 8;
                                break;
                            case "greaterCrushing":
                            case "extending":
                            case "grievous":
                                level = 9;
                                break;
                            case "anchoring":
                            case "impactful":
                            case "serrating":
                                level = 10;
                                break;
                            case "hopeful":
                            case "greaterHauling":
                            case "anarchic":
                            case "axiomatic":
                            case "holy":
                            case "unholy":
                                level = 11;
                                break;
                            case "dancing":
                            case "greaterFearsome":
                                level = 12;
                                break;
                            case "spellStoring":
                            case "greaterBloodbane":
                            case "greaterExtending":
                            case "keen":
                                level = 13;
                                break;
                            case "greaterDisrupting":
                                level = 14;
                                break;
                            case "majorFanged":
                            case "greaterCorrosive":
                            case "greaterFlaming":
                            case "greaterFrost":
                            case "greaterShock":
                            case "greaterThundering":
                            case "ancestralEchoing":
                                level = 15;
                                break;
                            case "bloodthirsty":
                            case "speed":
                                level = 16;
                                break;
                            case "greaterImpactful":
                            case "vorpal":
                                level = 17;
                                break;
                            case "greaterAnchoring":
                            case "greaterBrilliant":
                                level = 18;
                                break;
                            default:
                                level = 0;
                        }

                        add("nam", level, name);
                        add("num", level, 1);
                    }
                }
            }

            // armor runes
            if ("ArmorPF2e" == item.constructor.name) {
                // Add and update when armor level/name automation is added
                // switch (item.data.data.baseItem) {
                //     case "splint-mail":
                //     case "half-plate":
                //         Level = 1;
                //         break;
                //     case "full-plate":
                //     case "hellknight-plate":
                //         Level = 2;
                //         break;
                //     default:
                //         Level = 0;
                // }
                //
                // Name = deSlug(item.data.data.baseItem);

                if (game.settings.get("pf2e", "automaticBonusVariant") == "noABP") {
                    switch (item.data.data.potencyRune.value) {
                        case 1:
                            add("nam", 5, "Armor Potency (+1)");
                            add("num", 5, 1);
                            break;
                        case 2:
                            add("nam", 11, "Armor Potency (+2)");
                            add("num", 11, 1);
                            break;
                        case 3:
                            add("nam", 18, "Armor Potency (+3)");
                            add("num", 18, 1);
                            break;
                    }
                    switch (item.data.data.resiliencyRune.value) {
                        case "resilient":
                            add("nam", 8, "Resilient");
                            add("num", 8, 1);
                            break;
                        case "greaterResilient":
                            add("nam", 14, "Resilient (Greater)");
                            add("num", 14, 1);
                            break;
                        case "majorResilient":
                            add("nam", 20, "Resilient (Major)");
                            add("num", 20, 1);
                            break;
                    }
                }

                for (let i = 1; i <= 4; i++) {
                    if (item.data.data["propertyRune" + i].value) {
                        //convert from camelCase to Title Case
                        const name = deCamel(item.data.data["propertyRune" + i].value);

                        let level;
                        switch (item.data.data["propertyRune" + i].value) {
                            case "slick":
                            case "shadow":
                            case "stanching":
                            case "glamered":
                                level = 5;
                                break;
                            case "ready":
                            case "lesserDread":
                                level = 6;
                                break;
                            case "deathless":
                                level = 7;
                                break;
                            case "acidResistant":
                            case "coldResistant":
                            case "electricityResistant":
                            case "fireResistant":
                            case "greaterSlick":
                            case "invisibility":
                            case "sinisterKnight":
                                level = 8;
                                break;
                            case "bitter":
                            case "greaterStanching":
                            case "greaterShadow":
                                level = 9;
                                break;
                            case "greaterInvisibility":
                                level = 10;
                                break;
                            case "implacable":
                            case "greaterReady":
                                level = 11;
                                break;
                            case "greaterAcidResistant":
                            case "greaterColdResistant":
                            case "greaterElectricityResistant":
                            case "greaterFireResistant":
                            case "moderateDread":
                            case "fortification":
                                level = 12;
                                break;
                            case "majorStanching":
                            case "winged":
                            case "rockBraced":
                                level = 13;
                                break;
                            case "soaring":
                                level = 14;
                                break;
                            case "antimagic":
                                level = 15;
                                break;
                            case "majorSlick":
                                level = 16;
                                break;
                            case "trueStanching":
                            case "ethereal":
                            case "majorShadow":
                                level = 17;
                                break;
                            case "greaterDread":
                            case "greaterFortification":
                                level = 18;
                                break;
                            case "greaterWinged":
                                level = 19;
                                break;
                            default:
                                level = 0;
                        }

                        add("nam", level, name);
                        add("num", level, 1);
                    }
                }
            }

            //add the name to the list, (accounting for multiples)
            if (Quantity > 1) {
                add("nam", Level, `${Name} (${Quantity})`);
            } else {
                add("nam", Level, Name);
            }

            //add the quantity
            add("num", Level, Quantity);
        }
    }

    // automatic bonus progression items
    if (
        game.settings.get("pf2e", "automaticBonusVariant") != "noABP" &&
        game.settings.get("pf2e-equipment-checker", "apb-items")
    ) {
        const AP1 = { name: "Attack Potency +1", level: 2, quantity: 1 }; // Weapon Potency (+1)
        const AP2 = { name: "Attack Potency +2", level: 10, quantity: 1 }; // Weapon Potency (+2)
        const AP3 = { name: "Attack Potency +2", level: 16, quantity: 1 }; // Weapon Potency (+3)

        const SP1 = { name: "Skill Potency +1", level: 3, quantity: 1 }; // Crafter's Eyepiece
        const SP12 = { name: "Skill Potency +1", level: 3, quantity: 2 };
        const SP2 = { name: "Skill Potency +2", level: 9, quantity: 1 }; // Healer's Gloves (Greater)
        const SP22 = { name: "Skill Potency +2", level: 9, quantity: 2 };
        const SP23 = { name: "Skill Potency +2", level: 9, quantity: 3 };
        const SP3 = { name: "Skill Potency +3", level: 17, quantity: 1 }; // Phylactery of Faithfulness (Greater)
        const SP32 = { name: "Skill Potency +3", level: 17, quantity: 2 };

        const DA1 = { name: "Devastating Attacks (two dice)", level: 4, quantity: 1 }; // Striking
        const DA2 = { name: "Devastating Attacks (three dice)", level: 12, quantity: 1 }; // Striking (Greater)
        const DA3 = { name: "Devastating Attacks (four dice)", level: 19, quantity: 1 }; // Striking (Major)

        const DP1 = { name: "Defense Potency +1", level: 5, quantity: 1 }; // Armor Potency (+1)
        const DP2 = { name: "Defense Potency +2", level: 11, quantity: 1 }; // Armor Potency (+2)
        const DP3 = { name: "Defense Potency +3", level: 18, quantity: 1 }; // Armor Potency (+3)

        const PP1 = { name: "Perception Potency +1", level: 5, quantity: 1 }; // Goggles of Night
        const PP2 = { name: "Perception Potency +2", level: 9, quantity: 1 }; // Eyes of the Eagle
        const PP3 = { name: "Perception Potency +3", level: 17, quantity: 1 }; // Robe of Eyes

        const STP1 = { name: "Saving Throw Potency +1", level: 8, quantity: 1 }; // Resilient
        const STP2 = { name: "Saving Throw Potency +2", level: 14, quantity: 1 }; // Resilient (Greater)
        const STP3 = { name: "Saving Throw Potency +3", level: 20, quantity: 1 }; // Resilient (Major)

        const AA = { name: "Apex Ability", level: 17 };

        let APB;

        if (
            game.settings.get("pf2e-equipment-checker", "caster-apb-adjust") &&
            ["Bard", "Cleric", "Druid", "Oracle", "Sorcerer", "Summoner", "Swashbuckler", "Witch", "Wizard"].includes(
                Actor.data.details.class.name
            )
        ) {
            APB = {
                3: [SP1],
                4: [SP1],
                5: [SP1, DP1],
                6: [SP12, DP1],
                7: [SP12, DP1, PP1],
                8: [SP12, DP1, PP1, STP1],
                9: [SP1, SP2, DP1, PP1, STP1],
                10: [SP1, SP2, DP1, PP1, STP1],
                11: [SP1, SP2, DP2, PP1, STP1],
                12: [SP1, SP2, DP2, PP1, STP1],
                13: [SP1, SP22, DP2, PP2, STP1],
                14: [SP1, SP22, DP2, PP2, STP2],
                15: [SP1, SP23, DP2, PP2, STP2],
                16: [SP1, SP23, DP2, PP2, STP2],
                17: [SP12, SP22, SP3, DP2, PP2, STP2, AA],
                18: [SP12, SP22, SP3, DP3, PP2, STP2, AA],
                19: [SP12, SP22, SP3, DP3, PP3, STP2, AA],
                20: [SP12, SP22, SP32, DP3, PP3, STP3, AA],
            };
        } else {
            APB = {
                2: [AP1],
                3: [AP1, SP1],
                4: [AP1, SP1, DA1],
                5: [AP1, SP1, DA1, DP1],
                6: [AP1, SP12, DA1, DP1],
                7: [AP1, SP12, DA1, DP1, PP1],
                8: [AP1, SP12, DA1, DP1, PP1, STP1],
                9: [AP1, SP1, SP2, DA1, DP1, PP1, STP1],
                10: [AP2, SP1, SP2, DA1, DP1, PP1, STP1],
                11: [AP2, SP1, SP2, DA1, DP2, PP1, STP1],
                12: [AP2, SP1, SP2, DA2, DP2, PP1, STP1],
                13: [AP2, SP1, SP22, DA2, DP2, PP2, STP1],
                14: [AP2, SP1, SP22, DA2, DP2, PP2, STP2],
                15: [AP2, SP1, SP23, DA2, DP2, PP2, STP2],
                16: [AP3, SP1, SP23, DA2, DP2, PP2, STP2],
                17: [AP3, SP12, SP22, SP3, DA2, DP2, PP2, STP2, AA],
                18: [AP3, SP12, SP22, SP3, DA2, DP3, PP2, STP2, AA],
                19: [AP3, SP12, SP22, SP3, DA3, DP3, PP3, STP2, AA],
                20: [AP3, SP12, SP22, SP32, DA3, DP3, PP3, STP3, AA],
            };
        }

        for (let i of APB[Level]) {
            if (i.quantity > 1) {
                add("nam", i.level, `${i.name} (${i.quantity})`);
            } else {
                add("nam", i.level, i.name);
            }
            add("num", i.level, i.quantity);
        }
    }

    //hide unused rows at top
    for (let i = 20; i > 0; i--) {
        if (!get("sug", i) && !get("num", i)) {
            $("#EC" + i + ActorName).css("display", "none");
        } else {
            break;
        }
    }
</script>
